
html {
  background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 41%,#9fd8ef 90%,#2ab0ed 100%) no-repeat;
}

body {
  bottom: .8em;
  font-family: sans-serif;
  font-size: 12px;
  color: #222;
  margin: 0px;
  padding: .8em;
}

html.mobile > body {
  font-family: Inter, sans-serif;
  font-size: 12mm;
  min-width: auto;
}

#header {
  text-align: left;
  margin: 0;
  line-height: 2em;
  color: #048;
  z-index: 500;
  padding: .8em .8em 0 .8em;
  display: block;
  background: url(/img/icon96.png) no-repeat top right;
  height: 96px;
}

#title {
  margin-right: 96px;
  font-size: 1.3em;
  bottom: 0;
  top: 0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.6em;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  justify-content: center;
  overflow: auto;
}
#message {
  flex-grow: 1;
  width: 100%;
  max-height: 28em;
  padding: .8em;
  text-align: center;
}
#message.multiline {
  overflow: auto;
  font-size: 1em;
  text-align: justify;
  margin-bottom: 1.2em;
  background: rgba(255,255,255,.5);
}
#message.multiline p {
  margin: .1em;
  padding: 0;
}
#options {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  text-align: left;
  align-items:baseline;
  justify-content: center;
}


#checks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

.choices div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.choices label {
  display: block;
  padding-bottom: .5em;
  word-break: break-all;
}

#buttons {
  width: 100%;
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  align-items: center;
  margin: .8em;
  justify-content: space-around;
}
#buttons button {
 min-width: 6em;
 font-size: 1em;
}
