input {
  transform: none !important;
  width: auto !important;
  position: static !important;
}

input[type="radio"] {
  -moz-appearance:  radio !important;
  padding-right: .2em !important;
}
input[type="checkbox"] {
  -moz-appearance:  checkbox !important;
}


button {
  text-indent: 0 !important;
}

label {
  display: initial !important;
  position: static !important;
  transform: none !important;
  opacity: 1 !important;
  text-indent: 0 !Important;
  position: static;
  width: auto !important;
  padding: 4px !important;
}

span.preset {
  display: block;
  width: auto !important;
  white-space: nowrap !important;
}

input.temp {
  position: static !important;
  opacity: 1 !important;
}

.full-address {
  font-size: 130%;
}

tr.site {
  border-top: 1px solid #888;
}

#top {
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  height: auto;
}
#top a  {
  position: static;
  width: auto;
  appearance: initial !important;
  -moz-appearance: initial !important;
  width: auto;
  height: auto;
  display: block;
}
#top a.icon {
  font-size: 12px !important;
  font-family: sans-serif !important;
  text-indent: 0;
  color: black !important;
  background: white !important;
  background-image: none !important;
  border-radius: .3em;
  text-align: center;
  border: 1px solid black;
  height: auto;
  padding: .2em;
  vertical-align: middle;
}
#top a.icon:hover {
  transform: none;
}

#noscript-popup #high-contrast-chooser {
  display: block;
}
