
body {
  font-family: sans-serif;
  font: -moz-use-system-font;
  font-size: 12px;
  min-width: 600px;
}

.mobile > body {
  font-family: Inter, sans-serif;
  font-size: 4mm;
  min-width: auto;
}

.mobile .desktop {
  display: none !important;
}

@media (max-width: 100mm) {
  body {
    background-size: 4em !important;
    padding-right: 0 !important;
  }

  #sites .presets {
    width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-bottom: 1em !important;
  }

  #presets .presets input.preset {
    min-width: 5em;
  }

  #sites .presets input.preset {
     min-width: 0 !important;
     background-color: none !important;
     margin-top: 0;
     font-weight: bold;
  }


  #sites .customizing input.preset:checked  {
    margin-left: 0;
  }

  #presets .presets input.preset + label {
     font-size: 60%;
     position: absolute !important;
     text-align: right;
     padding: 0 !important;
     margin: 0 !important;
     display: block !important;
     width: 5.5em !important;
     z-index: 1000;
     top: 1em;
     left: 4em !important;
     text-shadow: 1px 1px white, -1px -1px white;
   }

   #sites .presets input.preset:checked + label {
     z-index: 1000;
     font-size: 60%;
     top: 3em;
     left: -3em !important;
     margin: 0 !important;
     padding: 0 !important;
     text-align: center !important;
     display: block !important;
     position: absolute;
     width: 10em !important;
     overflow: visible !important;
  }

  .presets input.preset:checked ~ input.temp {
    left: 1.5em;
    pointer-events: none;
  }

  .customizing input.preset:checked ~ input.temp {
    pointer-events: all !important;
    z-index: 1000;
    top: 1.5em;
    right: -1em;
    padding: 1em;
  }

  .customizer-controls fieldset {
    padding-top: 3em !important;
  }

  .customizer-controls fieldset legend {
    top: 2em;
  }

  #sites .customizing input.preset:checked + label {
    text-align:right !important;
    padding-right: 1em !important;
    right: 1em !important;
    left: auto !important;
    top: 3.5em;
    pointer-events: none;
  }

  td.presets {
    white-space: nowrap !important;
    vertical-align: bottom;
    border: 1px solid black;
  }
  .url > span > span {
    white-space: wrap;
    word-break: break-all;
    letter-spacing: -0.2mm;
    font-size: 80%;
   }

}

#sites .customizing .presets {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}


input[type="text"] {
  border: 1px solid;
}
input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

.presets {
  -moz-user-select: none;
}
.sites {
  border: 0;
  background: white;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow-y: auto;

}
.sites tr, .sites td {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1em;
}
html:not(.mobile) .sites > tr.site:hover {
  background: #ff8;
}
html:not(.mobile) .sites > tr.site:focus-within {
  background: #bdf;
}
.sites > tr:nth-child(even) {background: #fff}
.sites > tr:nth-child(odd) {background: #eee}

.site .url {
    padding: 0 0 0 0.5em;
    color: #ccc;
    vertical-align: top;
}
.site .url .protocol { display: none }

.site .url .domain { cursor: help }

[data-key="domain"] .full-address .host,
[data-key="domain"] .full-address .sub,
[data-key="domain"] .full-address .protocol,
[data-key="host"] .full-address span .protocol,
[data-key="host"] .full-address span .protocol, {
  background-color: #afe;
}
[data-key="host"] .full-address span .protocol,
[data-key="domain"] .full-address span .host,
[data-key="domain"] .full-address span .protocol {
  border: none;
}


.site .url[data-key="domain"] .domain,
.site .url[data-key="host"] .domain,
.site .url[data-key="host"] .sub,
.site .url[data-key="unsafe"] span {
  color: #a00;
}

.site .url[data-key="secure"] .domain,
.site .url[data-key="secure"] .sub,
.site .url[data-key="full"] span {
  color: black;
}

.site .url[data-key="full"] span,
.site .url[data-key="unsafe"] span {
  display: initial;
}

.site .url .domain {
  font-weight: bold;
}

input.https-only {
  font-size: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/img/ui-http64.png) no-repeat center;
  background-size: 1.5em;
  background-position: bottom;
  width: 2em;
  height: 2em;
  margin: -.25em 0;
  padding:0;
  cursor: pointer;
}
input.https-only:checked {
  background-image: url(/img/ui-https64.png);
}
label.https-only {
  display: none;
}

.preset label.preset.override {
  color: #555;
}

[data-preset="UNTRUSTED"] .https-only, [data-preset="DEFAULT"] .https-only {
  visibility: hidden;
}


td.presets {
  font-size: 1em;
  white-space: nowrap;
}

.mobile td.presets {
  white-space: normal;
}

span.preset {
  position: relative;
  display: inline-block;
  top: 0.13em;
  font-size: 1em;
}

.preset label, .preset input, .preset button {
  cursor: pointer;
}

.presets input.preset {
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/img/ui-no64.png) no-repeat center left;
  background-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  outline: 0;
  opacity: .5;
  margin: 0 .5em 0.13em .5em;
}

#presets-sizer {
  visibility: hidden;
  position: absolute;
  display: block;
  width: 5000px;
  height: 500px;
  top: -5000px;
}

#presets-sizer span.preset {
  display: block;

}

.presets input.preset:checked, #presets input.preset, #presets-sizer input.preset {
  opacity: 1;
  transform: none;
  min-width: 9.38em;
  background-color: #ddd;
  border-radius: 0.5em;
}

.presets input.preset:focus {
  transform: none;
}
.sites input + label {
  font-size: 1em;
  line-height: 1.5em;
  vertical-align: top;
}
.presets label.preset {
  padding: 0;
  letter-spacing: -0.06em;
  width: 0em;
  overflow: hidden;
  display: none;
  text-transform: uppercase;
  color: #000;
  opacity: .6;
  position: absolute;
  left: 0em;
  padding-left: 2.5em;

}

.presets input.preset[value^="T"] + label {
  text-transform: none;
}

.presets input.preset:checked + label, #presets .presets label {
  opacity: 1;
  width: 80%;
  display: inline-flex;
}

#presets-sizer .presets label {
   position: static;
   display: block;
   width: auto;
   overflow: visible;
}

:focus {
  outline: 0;
  box-shadow: inset 3px 3px 3px rgba(255,255,100, .5), -3px -3px 3px  rgba(255,255,100, .5),
                -3px 3px 3px rgba(255,255,100, .5), 3px -3px 3px rgba(255,255,100, .5);
}

input.preset:disabled {
  filter: grayscale(100%);
}

input.preset[value="T_TRUSTED"] {
  background-image: url(/img/ui-temp64.png);
}

input.preset[value="TRUSTED"] {
  background-image: url(/img/ui-yes64.png)
}
input.preset[value="UNTRUSTED"] {
  background-image: url(/img/ui-black64.png)
}
input.preset[value="CUSTOM"] {
  background-image: url(/img/ui-custom64.png)
}

input.temp {
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  outline: 0;
  background: url(/img/ui-clock64.png) no-repeat center;
  background-size: 60%;
  width: 1.5em;
  height: 1.5em;
  transition: 0.2s all;
  right: 0;
  top: 0;
  pointer-events: none;
  position: absolute;
}

input.temp + label {
  display: none;
}

input.temp + label {
  display: none;
}

input.preset:checked ~ input.temp {
  opacity: .5;
  right: .5em;
  pointer-events: all;
}

.presets input.preset:checked ~ input.temp:checked {
 opacity: 1 !important;
 background-size: 100%;
}

.customizing input.preset:checked, #presets input.preset:checked, .customizer fieldset {
  background-color: #bdf !important;
  border-radius: 0.5em 0.5em 0 0;
  margin: 0 0.06em 0.06em 0.06em;
}
.customizing input.preset:checked, #presets input.preset, #presets input.preset:checked  {
  margin: 0 1em -0.2em 1em;
  border-radius: 0.5em 0.5em 0 0;
}

.customizing input.preset:checked + label.preset {
  padding-left: 3em;
}

.customizing, .customizer {
  background-color: #ddd !important;
}

.customizer div {
  transition: 0.2s height;
  padding: 0;
  margin: 0;
}

span.cap {
  white-space: nowrap;
  display: inline-flex;
}

.customizer.closed .customizer-controls   {
  height: 0;
  overflow: hidden;
}

span.cap {
  padding: 0.5em;
  font-weight: normal;
}

span.cap.needed {
  font-weight: bold;
  background-color: #c88;
}

fieldset {
  border: 0;
  padding: 2em 0.5em 0.5em 0.5em;
  margin: 0;
  position: relative;
}

legend {
  font-weight: bold;
  display: block;
}
.customizer legend {
  font-size: 0.75em;
  position: absolute;
  top: 1em;
  left: 2em;
}

#presets .url {
  display: none;
}

#high-contrast-chooser {
  display: none;
}
